<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert = "blocks/headerGT :: header"></header>
<body>

<!--    <form method="POST" th:action="@{/test}" th:object="${post}">-->
<!--        <label for="shipper_name">Shipper_name</label>-->
<!--        <input type="text" th:field="*{shipper_name}" id="shipper_name"/>-->

<!--        <input type="submit" value="ADD"/>-->
<!--    </form>-->

                    <!--Forms shipper-->

<div id="transportation_request_form" class="container" style="margin-bottom: 2%">
    <header th:insert = "blocks/level :: level"></header>
<style>
    .left-column{
        width:37%;
    }
    .long-input{
    width: 90%;
    text-align:left;

    }
    .long-area-input{
        width: 90%;
        height: 12em;
    text-align:left;
    }
       table {
    border: 0px solid maroon;
   }
   button{
   margin-top:1%;
   width:90%;
   background: #38c829;
   border-color: #38c829;
   color: #fff;
   background-color: #38c829;
   height:3em;
   }


</style>

    <H3 style="margin-left:35%"> Договор перевозки </H3>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red; font-weight:bold; font-size:23px; margin-top:1%; margin-left:34%;">
        ...
    </div>
<form th:action=@{/carriage} th:object="${carriage}" method="POST" >
    <div style="width: 93%">
    <h4 class="details">Грузоотправитель</h4>

        <table border="1" width="100%" cellpadding="5" >
            <tr>
                <th class="left-column">
    <label >Наименование организации грузоотправителя</label>
                </th>
                <th>
    <input type="text" th:field="*{shipper_name}"  placeholder='Общество с ограниченной ответственностью "Сапфит"'  class="long-input"  />
                </th>
            </tr>

                <th>
    <label for="shipper_signatory">Подписант со стороны грузоотправителя</label>
                </th>
                <th>
    <input class="long-input" th:field="*{shipper_signatory}"  name="shipper_signatory" placeholder="Аркадий Афанасьев Андреевич" type="text" id="shipper_signatory"/>
            </th>
        </tr>
            <tr>
                <th>
    <label class="long-input"   for="shipper_requisites">Реквизиты грузотправителя</label>
                </th>
                <th>
    <textarea class="long-area-input" name="shipper_requisites" th:field="*{shipper_requisites}" placeholder="ООО «Сапфит»
Юридический адрес:112345, г.Москва, ул Саватеева 14, оф.30
ОГРН 1024735852200
ИНН 7204000001
КПП	775500005
Р/С 23101488800340002557
К/С	10101410500450000871
БИК	424852237
" id="shipper_requisites"></textarea>
                </th>
            </tr>

        </table>
    <br/>
    <h4 class="details">Перевозчик</h4>
        <table border="1" width="100%" cellpadding="5" >
            <tr>
                <th class="left-column">
    <label for="carrier_name">Наименование организации перевозчика</label>
                </th>
                <th>
    <input class="long-input" th:field="*{carrier_name}"  name="carrier_name" placeholder="Индивидуальный предприниматель Фадеев Антон Павлович" type="text" id="carrier_name" style=""/>
                </th>
            </tr>
            <tr>
                <th>
    <label for="carrier_signatory" >Подписант со стороны переевозчика</label>
                </th>
                <th>
    <input class="long-input" th:field="*{carrier_signatory}"  name="carrier_signatory" placeholder="Фадеев Антон Павлович" type="text" id="carrier_signatory" >
                </th>
            </tr>
            <tr>
                <th>
    <label for="carrier_requisites">Реквизиты перевозчика</label>
                </th>
                <th>
    <textarea class="long-area-input" th:field="*{carrier_requisites}"  name="carrier_requisites" placeholder='ИП Фадеев Антон Павлович
Юридический адрес:111344, г. Санкт-Петербург, ул.Крузенштейна, д. 18/1
ОГРН 1157847181392
ИНН 7840022011
КПП 784034001
Р/С 23101488800340002557
К/С	10101410500450000871
БИК	424852237' id="carrier_requisites"></textarea>
                </th>
            </tr>
        </table>
        <br/>
        <h4 class="details"> Детали перевозки</h4>
        <table border="1" width="100%" cellpadding="5" >
            <tr>
                <th class="left-column">
                    <span  class="required">Номер заявки </span>
                </th>
                <th>
                <input type="number" th:field="*{number}"  name="number" placeholder="80001" class="long-input" />
                </th>
            </tr>
            <tr>
                <th class="left-column">
            <span class="left-column">Места погрузки - выгрузки</span>
                </th>
                <th>
            <input type="text" th:field="*{loading_place}"  name="loading_place"  placeholder="г.Москва, ул Саватеева д.14" class="long-input" style="width:90%; margin-top:1%;"/>
            <input type="text" th:field="*{unloading_place}"  name="unloading_place" placeholder="г. Санкт-Петребрург, ул Калараша д.3 " class="long-input" style="width:90%; margin-top:1%;"/>
                </th>
            </tr>
            <tr>
                <th>
                    <span class="required" >Описание груза</span>
                </th>
                <th>
                    <textarea class="long-area-input"
                              th:field="*{cargo}"
                              name="cargo"
                              placeholder="10 коробок. Габариты и вес одной коробки: 300*400*200 мм., 10 кг. "
                              style="height: 6em;"></textarea>
                </th>
            </tr>
            <tr>
                <th>
        <span class="required">Даты перевозки</span>
                </th>
                <th>
            <input type="text" th:field="*{pick_up_date}"  id="pick_up_date" name="pick_up_date" placeholder="12.12.2021" style="width:45%;"/>
            <input type="text" th:field="*{pick_down_date}"  id="pick_down_date" name="pick_down_date"  placeholder="13.12.2021" style="width:45%;" />
                </th>
            </tr>


            <tr>
                <th class="left-column">
        <span class="required">Стоимость перевозки</span>
                </th>
                <th>
        <input type="number" th:field="*{price}"  name="price" placeholder="9500" style="width:45%"/> рублей
        <input type="checkbox" th:field="*{tax}"  name="tax" /> с НДС
        <input type="hidden" th:field="*{tax}"  name="tax" value=""/>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <button type="submit" value="Договор перевозки"
                    >Сформировать договор</button>
                </th>
            </tr>
        </table>
    <br>


    </div>
</form>
    <br>

</div>
<footer th:insert = "blocks/footerGT :: footer"></footer>

<!--don't work code
<div id="Insert"></div>

<script >
      function isEmail() {
         let div = document.createElement('div');
         div.className = "Insert";
         div.innerHTML = "<a>Рад вас видеть</a>";
         document.body.append(div);
      }
</script>

-->






</body>
</html>