<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{blocks/head :: head}"></head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div id="transportation_request_form" class="container" style="margin-bottom: 2%">
    <header th:insert="blocks/level :: level"></header>

    <H3 style="margin-left:35%"> Договор перевозки </H3>

    <div class="error_input" th:if="${errorMessage}" th:utext="${errorMessage}">
        ...
    </div>

    <form th:action=@{/carriage} th:object="${carriage}" method="POST">



            <div th:insert ="~{blocks/inputs :: #numder_form}"></div>
            <div th:insert ="~{blocks/inputs :: #shipper_form}"></div>
            <div th:insert ="~{blocks/inputs :: #carrier_form}"></div>
            <div th:insert ="~{blocks/inputs :: #detalis_form}"></div>
            <div th:insert ="~{blocks/inputs :: #form_contract}"></div>


    </form>
    <br>

</div>
<footer th:insert="blocks/footerGT :: footer"></footer>



</body>
</html>