<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:tn="http://www.w3.org/1999/xhtml">
<header th:insert = "blocks/headerGT :: header"></header>
<body>
<style>
    table {

    margin-left:20%;
    word-wrap:break-word;
    }
    p {
    font-weight: normal;
    }
    th{
    margin:49%;
    }
</style>


<div id="transportation_request_form" class="container"  style="margin-bottom: 2%">

    <div th:each="carriage:${carriage}">

        <table>
            <tr>
                <th>
                    <span  style="float:left;margin:0 10px;">Номер заявки </span>
                    <p th:utext="${carriage.number}">...</p>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th >
                <h3 style="    align:top;">Грузоотправитель</h3>
                <br>
                <label>Наименование организации грузоотправителя</label>
                <p th:utext="${carriage.shipper_name}">...</p>
                <label>Подписант со стороны грузоотправителя</label>
                <p th:utext="${carriage.shipper_signatory}">...</p>

                <label>Реквизиты грузотправителя</label>
                <p th:utext="${carriage.shipper_requisites}">...</p>
            </th>
            <th>
                <h3 >Перевозчик</h3>
                <br>
                <label>Наименование организации перевозчика</label>
                <p th:utext="${carriage.carrier_name}">...</p>
                <label >Подписант со стороны переевозчика</label>
                <p th:utext="${carriage.carrier_signatory}">...</p>
                <label>Реквизиты перевозчика</label>
                <p th:utext="${carriage.carrier_requisites}">...</p>
            </th>
            </tr>
        </table>
        <table >

            <th>
                <h3 >Детали перевозки</h3>
            </th>
            </tr>
        </table>
        <table >


            <th style="width:49%">

                <span >Места погрузки - выгрузки</span>
                <p th:utext="${carriage.loading_place} ">...</p>
                <p th:utext="${carriage.unloading_place}">...</p>

                <span >Описание груза</span>
                <p th:utext="${carriage.cargo}">...</p>
            </th>
            <th>

                <span >Даты перевозки</span>
                <label style="display: inline">
                <p th:utext="${carriage.pick_up_date}" style="float:left;margin:0 10px;">...</p>
                <p th:utext="${carriage.pick_down_date}">...</p>
                </label>
                <span >Стоимость перевозки</span>
                <p th:utext="${carriage.price}" style="float:left;margin:0 10px;">...</p>
                <p th:utext="${carriage.tax}">...</p>
            </th>
            </tr>
            <tr>
                <th>
                    <a href="carriage" style="float:left;margin:0 10px;">Изменить договор</a>
                    <a href="carriage_file" > Скачать договор перевозки </a>
                </th>
                <th>

                </th>
            </tr>
        </table>
    </div>

</div>
</div>
</body>
<footer th:insert = "blocks/footerGT :: footer"></footer>
</html>