<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:tn="http://www.w3.org/1999/xhtml">
<head th:insert="~{blocks/head :: head}"></head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<style>
    table {
        margin-top: 2%;
        word-wrap: break-word;
        width: 100%;
    }

    p {
        font-weight: normal;
    }

    th {
        width: 50%;
        vertical-align: top;
    }
</style>

<div id="transportation_request_form" class="container" style="margin-bottom: 2%">

    <div th:each="carriage:${carriage}">
        <table>
            <tr>
                <th style="text-align:right; margin-right: 0%">
                    <h3>Лицензионный договор №</h3>
                </th>
                <th style="text-align:left;">
                    <h3 th:utext="${carriage.number}">...</h3>
                </th>
            </tr>
            <tr>
                <th style="align:top;">
                    <label>Наименование организации грузоотправителя</label>
                    <p th:utext="${carriage.shipper_name}">...</p>
                    <label>Подписант со стороны грузоотправителя</label>
                    <p th:utext="${carriage.shipper_signatory}">...</p>
                </th>
                <th>
                    <label>Реквизиты грузотправителя</label>
                    <p th:utext="${carriage.shipper_requisites}">...</p>

                </th>
            </tr>
            <tr>
                <th style="text-align:right">
                    <a href="license_contract" style="font-size: 130%; margin-right: 5%;">Изменить договор</a>
                </th>
                <th style="text-align:left">
                    <a href="license_file" style="font-size: 130%"> Скачать договор перевозки </a>
                </th>
            </tr>
        </table>
    </div>

</div>
</div>
</body>
<footer th:insert="blocks/footerGT :: footer"></footer>
</html>