<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:insert = "blocks/headerGT :: header"></header>
<body>
<style>
    table {
    margin-left:20%;
    }
</style>


<div id="transportation_request_form" class="container" style="margin-bottom: 2%">

    <div th:each="carriage:${carriage}">
        <table>

                <th>
        <span  class="required">Номер заявки </span>
                </th>
                <th>
        <p th:utext="${carriage.number}">...</p>
                </th>
            </tr>
        </table>
        <table>

        <th>
        <span class="required">Грузоотправитель</span>
        <label>Наименование организации грузоотправителя</label>
        <p th:utext="${carriage.shipper_name}">...</p>
        <label>Подписант со стороны грузоотправителя</label>
        <p th:utext="${carriage.shipper_signatory}">...</p>

        <label>Реквизиты грузотправителя</label>
        <p th:utext="${carriage.shipper_requisites}">...</p>
        </th>
        <th>
        <span class="required">Перевозчик</span>
        <label>Наименование организации перевозчика</label>
        <p th:utext="${carriage.carrier_name}">...</p>
        <label >Подписант со стороны переевозчика</label>
        <p th:utext="${carriage.carrier_signatory}">...</p>
        <label>Реквизиты перевозчика</label>
        <p th:utext="${carriage.carrier_requisites}">...</p>
        </th>
    </tr>
</table>
        <table >

                <th>
                    <span class="required">Детали перевозки</span>
                </th>
            </tr>
        </table>
        <table >


                <th style="margin-top:0%">

            <span class="required">Места погрузки - выгрузки</span>
            <p th:utext="${carriage.loading_place} ">...</p>
            <p th:utext="${carriage.unloading_place}">...</p>

        <span class="required">Описание груза</span>
        <p th:utext="${carriage.cargo}">...</p>
                </th>
                <th>

            <span class="required">Даты перевозки</span>

            <p th:utext="${carriage.pick_up_date}">...</p>
            <p th:utext="${carriage.pick_down_date}">...</p>

            <span class="required">Стоимость перевозки</span>
            <p th:utext="${carriage.price}">...</p>
            <p th:utext="${carriage.tax}">...</p>
                </th>

            <th>
                <a href="carriage_contract">Изменить договор</a>
                </th>
            <th>
                <a href="file" > Скачать договор </a>
            </th>
        </tr>
        </table>
    </div>

</div>
</div>
</body>
<footer th:insert = "blocks/footerGT :: footer"></footer>
</html>