
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


</head>
<body>

<form th:action=@{/carriage} th:object="${carriage}" method="POST">

                    <input type="text"   placeholder='Общество с ограниченной ответственностью "Сапфит"'  class="long-input" />

                    <label for="shipper_signatory">Подписант со стороны грузоотправителя</label>

                    <input class="long-input"   name="shipper_signatory" placeholder="Аркадий Афанасьев Андреевич" type="text" id="shipper_signatory"/>

                    <label class="long-input"  for="shipper_requisites">Реквизиты грузотправителя</label>

    <textarea class="long-area-input" name="shipper_requisites" placeholder="ООО «Сапфит»
Юридический адрес:112345, г.Москва, ул Саватеева 14, оф.30
ОГРН 1024735852200
ИНН 7204000001
КПП	775500005
Р/С 23101488800340002557
К/С	10101410500450000871
БИК	424852237
" id="shipper_requisites"></textarea>

        <h4 class="details">Перевозчик</h4>


                    <label for="carrier_signatory" >Подписант со стороны переевозчика</label>

                    <input class="long-input"   name="carrier_signatory" placeholder="Фадеев Антон Павлович" type="text" id="carrier_signatory" >

                    <label for="carrier_requisites">Реквизиты перевозчика</label>

    <textarea class="long-area-input"   name="carrier_requisites" placeholder='ИП Фадеев Антон Павлович
Юридический адрес:111344, г. Санкт-Петербург, ул.Крузенштейна, д. 18/1
ОГРН 1157847181392
ИНН 7840022011
КПП 784034001
Р/С 23101488800340002557
К/С	10101410500450000871
БИК	424852237' id="carrier_requisites"></textarea>

        <h4 class="details"> Детали перевозки</h4>

                    <span  class="required">Номер заявки </span>

                    <input type="number"  name="number" placeholder="80001" class="long-input" />
                
            

                    <span class="left-column">Места погрузки - выгрузки</span>
                
                
                    <input type="text"   name="loading_place"  placeholder="г.Москва, ул Саватеева д.14" class="long-input" style="width:90%; margin-top:1%;"/>
                    <input type="text"  name="unloading_place" placeholder="г. Санкт-Петребрург, ул Калараша д.3 " class="long-input" style="width:90%; margin-top:1%;"/>
                
            

                
                    <span class="required" >Описание груза</span>
                
                
                    <textarea class="long-area-input"

                              name="cargo"
                              placeholder="10 коробок. Габариты и вес одной коробки: 300*400*200 мм., 10 кг. "
                              style="height: 6em;"></textarea>
                
            

                
                    <span class="required">Даты перевозки</span>
                
                
                    <input type="text"  id="pick_up_date" name="pick_up_date" placeholder="12.12.2021" style="width:45%;"/>
                    <input type="text"   id="pick_down_date" name="pick_down_date"  placeholder="13.12.2021" style="width:45%;" />
                
            




                    <span class="required">Стоимость перевозки</span>
                
                
                    <input type="number" name="price" placeholder="9500" style="width:45%"/> рублей
                    <input type="checkbox" name="tax" value="true"/>
                    <input type="hidden" name="tax" value=""/>с НДС
                
            

                
                
                    <button type="submit" value="Договор перевозки"
                    >Сформировать договор</button>
                
            
        
        


    
</form>


</body>

</html>
