<div     th:fragment = "footer">

        <div class="company_info">
            <div class="container">
                <div class="site_map">
                    <h3>Карта сайта</h3>
                    <ul>
                        <li>
                            <a href="https://gettransport.com/ru-RU/carrier">
                                Стать перевозчиком
                            </a>
                        </li>
                        <li>
                            <a href="https://gettransport.com/ru-RU/about">О нас</a>
                        </li>
                        <li>
                            <a href="https://gettransport.com/ru-RU/faq/shipper">
                                Вопросы и ответы
                            </a>
                        </li>
                        <li>
                            <a href="https://gettransport.com/ru-RU/landing_b2b">
                                Для бизнеса
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="documents">
                    <h3>Документы</h3>
                    <ul>
                        <li>
                            <a href="https://gettransport.com/ru-RU/privacy_policy">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="https://gettransport.com/ru-RU/service_agreement">Соглашение об использовании сервиса</a>
                        </li>
                        <li>
                            <a href="https://gettransport.com/ru-RU/api_agreement">Соглашение об использовании сервисов API интеграция и виджет сервиса GETTRANSPORT</a>
                        </li>
                    </ul>
                </div>
                <div class="services">
                    <h3>Услуги</h3>
                    <ul>
                        <li>Офисный переезд</li>
                        <li>Квартирный переезд</li>
                        <li>Перевозка грузов</li>
                        <li>Контейнерная перевозка</li>
                        <li>Услуги грузчиков</li>
                        <li>Упаковка</li>
                        <li>Грузовое такси</li>
                        <li>Междугородние перевозки</li>
                        <li>Международные перевозки</li>
                    </ul>
                </div>
                <div>
                    <h3>Контакты</h3>
                    <table class="contacts">
                        <tbody>
                            <th>
                                Кипр:
                            </th>
                            <td class="ya-phone">
                                <div>

                                    <a href="tel:+35724030161" style="">
                                        +357 24 030161
                                    </a>

                                </div>
                            </td>
                        </tr>

                            <th>
                                Россия:
                            </th>
                            <td class="ya-phone">
                                <div>

                                    <a href="tel:88003022170" style="">
                                        8 800 302 21 70
                                    </a>

                                </div>
                            </td>
                        </tr>

                            <th>
                                Индия:
                            </th>
                            <td class="ya-phone">
                                <div>

                                    <a href="tel:+918071279528" style="">
                                        +918071279528
                                    </a>

                                </div>
                            </td>
                        </tr>

                            <th>
                                Великобритания:
                            </th>
                            <td class="ya-phone">
                                <div>

                                    <a href="tel:+442045771766" style="">
                                        +44 20 4577 1766
                                    </a>

                                </div>
                            </td>
                        </tr>

                            <th>Эл. почта:</th>
                            <td>
                                <a data-analytics="{
									&quot;event&quot;: &quot;click&quot;,
									&quot;bind&quot;: true,
									&quot;google&quot;: {
										&quot;event_name&quot;: &quot;emailniz2&quot;,
										&quot;event_parameters&quot;: {
											&quot;event_category&quot;: &quot;emailniz&quot;
										}
									}
								}" href="mailto:support@gettransport.com">
                                    support@gettransport.com
                                </a>
                            </td>
                        </tr>

                            <th colspan="2">
                                <h3>Адреса</h3>
                            </th>
                        </tr>

                            <th itemprop="addressCountry">
                                Кипр:
                            </th>
                            <td itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">10 Patron</span>,
                                <span itemprop="addressLocality">Larnaca</span>
                                <span itemprop="postalCode">6051</span>
                            </td>
                        </tr>

                            <th itemprop="addressCountry">
                                Индия:
                            </th>
                            <td itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">B1/638 A, 3rd Floor</span>,
                                <span itemprop="addressLocality">Delhi</span>,
                                <span itemprop="addressRegion">Janakpuri</span>
                                <span itemprop="postalCode">110058</span>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>
        <div class="copyright_and_contacts">
            <div class="container">
                <p class="copyright">
                    © GETTRANSPORT INTERNATIONAL LIMITED.
                    GetTransport® is trademark of GETTRANSPORT INTERNATIONAL LIMITED.
                    All rights reserved.
                    <a href="https://key-g.com/">Designed and produced by key-g.com</a>
                </p>

                <div class="app_links">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.gettransportnew"><img src="https://gettransport.com/uploads/store/1066a81247c28bffaea16c39808a6367.png" alt="Доступно в Google Play"></a>
                    <a target="_blank" href="https://apps.apple.com/app/gettransport-com/id1308038813"><img src="https://gettransport.com/uploads/store/2155e1b61a15419cd6e2f8afc1165149.png" alt="Загрузите в App Store"></a>
                </div>

<!--                <ul class="company_contacts">-->
<!--                    <li>-->
<!--                        <a target="_blank" href="mailto:support@gettransport.com" title="Email"><svg class="-->
<!--		icon-->
<!--		icon-email-->
<!--			baseline-->
<!--	">-->
<!--                            <use xlink:href="https://gettransport.com/images/icons/symbol-defs.svg?v=1625265366#icon-email"></use>-->
<!--                        </svg></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a target="_blank" href="https://www.facebook.com/gettransportcom" title="Facebook"><svg class="-->
<!--		icon-->
<!--		icon-facebook-->
<!--			baseline-->
<!--	">-->
<!--                            <use xlink:href="https://gettransport.com/images/icons/symbol-defs.svg?v=1625265366#icon-facebook"></use>-->
<!--                        </svg></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a target="_blank" href="https://vk.com/gettransportcom" title="VK"><svg class="-->
<!--		icon-->
<!--		icon-vk-->
<!--			baseline-->
<!--	">-->
<!--                            <use xlink:href="https://gettransport.com/images/icons/symbol-defs.svg?v=1625265366#icon-vk"></use>-->
<!--                        </svg></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a target="_blank" href="https://www.instagram.com/gettransportcom" title="Instagram"><svg class="-->
<!--		icon-->
<!--		icon-instagram-->
<!--			baseline-->
<!--	">-->
<!--                            <use xlink:href="https://gettransport.com/images/icons/symbol-defs.svg?v=1625265366#icon-instagram"></use>-->
<!--                        </svg></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a target="_blank" href="https://twitter.com/gettransportcom" title="Twitter"><svg class="-->
<!--		icon-->
<!--		icon-twitter-->
<!--			baseline-->
<!--	">-->
<!--                            <use xlink:href="https://gettransport.com/images/icons/symbol-defs.svg?v=1625265366#icon-twitter"></use>-->
<!--                        </svg></a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>

</div>
