
  <div class="container" th:fragment = "header">
    <img class="logo" src="https://gettransport.com/images/logo_dark.png">
    <div class="links">
      <hr>
      <form class="currency_switcher cccombo" action="/ru-RU/currency">
        <input type="hidden" name="_csrf" value="zNQdO0C2ufarrGmyHjiRQeEH4CyfS7Mj8kLF9icabxI">

        <button type="button" name="currency[id]" value="3">
          ₽<span>RUB</span>
        </button><input type="hidden" name="currency[id]" value="3">
        <div class="dropdown">
          <h4>Основные валюты</h4>


          <h4>Все валюты</h4>

        </div>
      </form>

      <div id="locale_switcher" class="cccombo">
          <span class="flag-icon flag-icon-ru"></span>
      </div>

      <a class="cabinet_link" href="/ru-RU/log_in">
        <span class="text">Вход</span>
        <img src="https://gettransport.com/images/icons/log_in.svg ">
      </a>

      <button type="button" class="menu">
        <img src="https://gettransport.com/images/icons/hamburger.svg">
        <!-- <hr><hr><hr> -->
      </button>
      <nav>
        <div class="header">
          <img class="logo" src="https://gettransport.com/images/logo_dark.png">
          <button type="button" class="close_menu">
            <img src="https://gettransport.com/images/icons/close.svg">
          </button>
        </div>

        <a class="" href="/ru-RU/carrier">
          Стать перевозчиком
        </a>


        <a class="" href="/ru-RU/about">
          О нас
        </a>


        <a class="" href="/ru-RU/faq">
          Вопросы и ответы
        </a>


        <a class="" href="/ru-RU/landing_b2b">
          Для бизнеса
        </a>


        <a class="" href="/ru-RU/partner_request">
          Интеграция
        </a>

      </nav>
    </div>
  </div>

