<div id="cabinet" th:fragment="level">
    <header>
        <nav class="tabs">
            <div class="level">
                <a href="/" class="selected">
                    Договор перевозки
                </a>
                <a href="agency_contract" class="">
                    Агентский договор
                </a>
                <a href="license_contract" class="">
                    Лицензионное соглашение
                </a>

            </div>
        </nav>
    </header>
</div>